<!DOCTYPE html>
<html>
    <script type="module" src="server.js"></script>
    <head>
        <meta charset="UTF-8"/>
        <title>Cadastro</title>
    </head>
    <body>
        <form action="/cadastro" method="post" class="" id="confirmarCadastro">
            <h1>Cadastre-se</h1>
            <h3><input type="text" id="cadastroNome" placeholder="Nome" name= "cadastroNome" required></h3>
            <h3><input type="email" id="cadastroEmail" placeholder="E-mail" name= "cadastroEmail" required></h3>
            <h3><input type="number" id="cadastroIdade" placeholder="Idade" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name= "cadastroIdade" required></h3>
            <h3><input type="password" id="cadastroSenha" placeholder="Senha" minlength="8" name= "cadastroSenha" required></h3>
        </form>
        <button type="submit" form="confirmarCadastro" value="Submit">Cadastrar</button>
    </body>
</html>