*{
    margin: 0px;
    padding: 0px;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
#confirmarCadastro{
    padding:1px;
    position: absolute;
    top: 36%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#confirmarCadastro > h1{
    padding:8px;
}
#confirmarCadastro > h3{
    padding:8px;
}
body > button{
    background-color: #e70303;
    color: white;
    padding: 16px 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
    position: absolute;
    top: 56%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
button[type="button"] {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color:white;
    font-family:Arial, Helvetica, sans-serif; 
    float:center;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}